.card-item {
    --background: #fff;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 8px;

    .order-code {
        font-weight: 700;
        color: var(--ion-color-secondary);
        font-size: 14px;
    }
}

.total-price {
    font-size: 16px;
    color: var(--ion-color-primary);
}
