<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button text="Giriş Yap" defaultHref="/signin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <img [src]="uploadUrl + (settings?.firmaLogo || 'logo.jpg')" class="app-logo">
      <p>Şifrenizi sıfırlayın.</p>
    </div>

    <form class="form-default" (ngSubmit)="resetPassword()">

      <ion-list class="item-card-list form-list-borders" lines="none">

        <ion-item>
          <ion-label color="medium" position="stacked">E-posta</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" autocomplete="off" placeholder="E-posta adresiniz"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button class="ion-margin-top" expand="block" color="primary" type="submit">
        Şifremi Sıfırla
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy; {{current_year}} {{ settings?.firmaAdi || 'Cateringo' }}</small>
      </ion-text>
    </div>

  </div>

</ion-content>