<ion-content>
  <swiper *ngIf="settings" class="swiper-welcome" #swiper [config]="config" [allowTouchMove]="true" (slideChange)="swiperSlideChanged($event)"
    (reachEnd)="onLastSlide()">
    <ng-template swiperSlide>
      <img [src]="(settings?.mobil_ayarlar?.welcome_slide1_img && settings?.mobil_ayarlar?.welcome_slide1_img !== '') ? uploadUrl + settings?.mobil_ayarlar?.welcome_slide1_img : uploadUrl + (settings?.firmaLogo || 'logo.jpg')" class="animate__animated animate__fadeInDown" style="max-height: 150px; object-fit: contain;">
      <h3 class="animate__animated animate__fadeInUp">{{ settings?.firmaAdi }}<br>{{ settings?.firmaSlogan }}</h3>
      <div class="animate__animated animate__fadeInUp ion-padding" [innerHTML]="settings?.firmaGenelBilgi"></div>
    </ng-template>
    
    <ng-template swiperSlide *ngFor="let slide of settings?.mobil_ayarlar?.welcome_slides">
      <img [src]="slide.img.startsWith('http') ? slide.img : (slide.img.includes('illu-') ? '../../../../assets/img/' + slide.img : uploadUrl + slide.img)">
      <h3>{{ slide.title }}</h3>
      <p>{{ slide.desc }}</p>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer class="ion-padding-bottom-large" *ngIf="settings">
  <ion-button class="ion-margin" expand="block" (click)="nextSlide()" *ngIf="!last_slide">
    İleri
  </ion-button>
  <ion-button class="ion-margin" expand="block" (click)="getStarted()" *ngIf="last_slide">
    Kullanmaya Başla
  </ion-button>
</ion-footer>